<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kerala Vision LCO Dashboard</title>
	<link rel="stylesheet" href="../../static/css/library/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/css/library/font-awesome.min.css">
	<link rel="stylesheet" href="../../static/css/library/ionicons.css">
	<link rel="stylesheet" href="../../static/css/library/AdminLTE.css">
	<link rel="stylesheet" href="../../static/css/library/skins/skin-blue.css">
	<link rel="stylesheet" href="../../static/css/custom/style.css">
	<!--[if lt IE 9]>
        <script src="../../static/js/library/html5shiv.js"></script>
        <script src="../../static/js/library/respond.js"></script>
    <![endif]-->
</head>
<body class="hold-transition fixed skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <a href="#" class="logo">
          <span class="logo-mini"><img src="../../static/images/kerala-vision-logo.png" alt=""></span>
          <span class="logo-lg"><img src="../../static/images/kerala-vision-logo.png" alt="">
            KERALA VISION
          </span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-danger">3</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 3 notifications</li>
                  <li>
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <div class="media">
                            <div class="media-left">
                              <i class="fa fa-comments text-yellow"></i>
                            </div>
                            <div class="media-body">
                              Very long description here that may not fit into the page and may cause design problems
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-yellow"></i> Request for plan change
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="hidden-xs">Adithya Cable Vision</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="user-header">
                    <img src="../../static/images/dummyPlaceholder.jpg" class="img-circle" alt="User Image">
                    <p>
                      Adithya Cable Vision
                      <small>Cherthala</small>
                    </p>
                  </li>
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="login.html" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <a href="login.html"><i class="fa fa-power-off"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li>
              <a href="dashboard.html">
                <i class="fa fa-dashboard"></i><span>Dashboard</span>
              </a>
            </li>
           
            <li>
              <a href="#">
                <i class="fa fa-arrow-right"></i>
                <span>LCO Management</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-arrow-right"></i>
                <span>Distributers Management</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-arrow-right"></i>
                <span>Cunsumer Management</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-arrow-right"></i>
                <span>Transactions</span>
              </a>
            </li>
            <li class="active">
              <a href="cost-center.html">
                <i class="fa fa-arrow-right"></i>
                <span>Cost Center</span>
              </a>
            </li>
             <li>
              <a href="#">
                <i class="fa fa-arrow-right"></i>
                <span>Reports</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-arrow-right"></i>
                <span>Credentials</span>
              </a>
            </li>
             <li>
              <a href="#">
                <i class="fa fa-arrow-right"></i>
                <span>Mettlewire Sync</span>
              </a>
            </li>
             <li>
              <a href="#">
                <i class="fa fa-arrow-right"></i>
                <span>Configuration Master</span>
              </a>
            </li>
            
          </ul>
        </section>
      </aside>

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Cost Center Management
          </h1>
          <ol class="breadcrumb">
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
          </ol>
        </section>

        <section class="content">
          <div class="row offset-top-30 box-cont">

            <table class="table box-cont">
              <thead>
               <tr>
                <td><h3>Create</h3></td>
                <td><h3>Manage</h3></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="cost-center-create.html">Create Cost Center</a></td>
                <td><a href="#">Manage Cost Center</a></td>
              </tr>
              <tr>
                <td><a href="#">Create Cost Center Type</a></td>
                <td><a href="#">Manage Cost Center Type</a></td>
              </tr>

            </tbody>
          </table>

          </div>

        </section>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          All rights reserved
        </div>
        Copyright &copy; 2014-2015
      </footer>
    </div>
	
	<script src="../../static/js/library/jquery-2.1.4.min.js"></script>
	<script src="../../static/js/library/bootstrap.js"></script>
	<script src="../../static/js/library/jquery.slimscroll.min.js"></script>
	<script src="../../static/js/library/app.min.js"></script>
</body>
</html>