<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kerala Vision LCO Dashboard</title>
	<link rel="stylesheet" href="../../static/css/library/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/css/library/font-awesome.min.css">
	<link rel="stylesheet" href="../../static/css/library/ionicons.css">
 <link rel="stylesheet" href="../../static/css/library/select2.min.css">
 <link rel="stylesheet" href="../../static/css/library/AdminLTE.css">
 <link rel="stylesheet" href="../../static/css/library/dataTables.bootstrap.css">
 <link rel="stylesheet" href="../../static/css/library/skins/skin-blue.css">


 <link rel="stylesheet" href="../../static/css/custom/style.css">
	<!--[if lt IE 9]>
        <script src="../../static/js/library/html5shiv.js"></script>
        <script src="../../static/js/library/respond.js"></script>
        <![endif]-->
      </head>
      <body class="hold-transition fixed skin-blue sidebar-mini">
        <div class="wrapper">

          <header class="main-header">
            <a href="#" class="logo">
              <span class="logo-mini"><img src="../../static/images/kerala-vision-logo.png" alt=""></span>
              <span class="logo-lg"><img src="../../static/images/kerala-vision-logo.png" alt="">
                KERALA VISION
              </span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
              <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
              </a>
              <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                  <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-bell-o"></i>
                      <span class="label label-danger">3</span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="header">You have 3 notifications</li>
                      <li>
                        <ul class="menu">
                          <li>
                            <a href="#">
                              <div class="media">
                                <div class="media-left">
                                  <i class="fa fa-comments text-yellow"></i>
                                </div>
                                <div class="media-body">
                                  Very long description here that may not fit into the page and may cause design problems
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fa fa-user text-yellow"></i> Request for plan change
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fa fa-user text-red"></i> You changed your username
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="footer"><a href="#">View all</a></li>
                    </ul>
                  </li>
                  <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="hidden-xs">Adithya Cable Vision</span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="user-header">
                        <img src="../../static/images/dummyPlaceholder.jpg" class="img-circle" alt="User Image">
                        <p>
                          Adithya Cable Vision
                          <small>Cherthala</small>
                        </p>
                      </li>
                      <li class="user-footer">
                        <div class="pull-left">
                          <a href="#" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                          <a href="login.html" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="login.html"><i class="fa fa-power-off"></i></a>
                  </li>
                </ul>
              </div>
            </nav>
          </header>

          <!-- Left side column. contains the logo and sidebar -->
          <aside class="main-sidebar">
            <section class="sidebar">
              <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                  <a href="dashboard.html">
                    <i class="fa fa-dashboard"></i><span>Dashboard</span>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <i class="fa fa-arrow-right"></i>
                    <span>LCO Management</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-arrow-right"></i>
                    <span>Distributers Management</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-arrow-right"></i>
                    <span>Cunsumer Management</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-arrow-right"></i>
                    <span>Transactions</span>
                  </a>
                </li>
                <li class="active">
                  <a href="cost-center.html">
                    <i class="fa fa-arrow-right"></i>
                    <span>Cost Center</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-arrow-right"></i>
                    <span>Reports</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-arrow-right"></i>
                    <span>Credentials</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-arrow-right"></i>
                    <span>Mettlewire Sync</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-arrow-right"></i>
                    <span>Configuration Master</span>
                  </a>
                </li>

              </ul>
            </section>
          </aside>

          <div class="content-wrapper">
         
            <section class="content-header">
              <h1>
                Cost Center- List
              </h1>
              <ol class="breadcrumb">
                <li class="active"><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
              </ol>
            </section>

            <section class="content">
              <div class="row">
                <div class="col-md-12">
                <div class="box box-primary">
                  <div class="box-header">
                    <h3 class="box-title">Available Cost Centers</h3>
                    
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <table id="table_sortable2" class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Code</th>
                          <th>Name</th>
                          <th>Created at</th>
                          <th>Created by</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr>
                          <td>1</td>
                          <td><a href="#" data-toggle="modal" data-target="#detailViewModal">#589652</a></td>
                          <td>Sample Name 1</td>
                          <td>11-7-2015</td>
                          <td>Admin</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td><a href="#" data-toggle="modal" data-target="#detailViewModal">#589654</a></td>
                          <td>Sample Name 2</td>
                          <td>12-7-2015</td>
                          <td>User</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td><a href="#" data-toggle="modal" data-target="#detailViewModal">#589656</a></td>
                          <td>Sample Name 3</td>
                          <td>14-7-2015</td>
                          <td>User</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td><a href="#" data-toggle="modal" data-target="#detailViewModal">#589651</a></td>
                          <td>Sample Name 4</td>
                          <td>19-7-2015</td>
                          <td>User</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td><a href="#" data-toggle="modal" data-target="#detailViewModal">#549652</a></td>
                          <td>Sample Name 5</td>
                          <td>22-7-2015</td>
                          <td>Admin</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td><a href="#" data-toggle="modal" data-target="#detailViewModal">#389654</a></td>
                          <td>Sample Name 6</td>
                          <td>12-7-2015</td>
                          <td>Admin</td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td><a href="#" data-toggle="modal" data-target="#detailViewModal">#589656</a></td>
                          <td>Sample Name 7</td>
                          <td>15-7-2015</td>
                          <td>User</td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td><a href="#" data-toggle="modal" data-target="#detailViewModal">#589651</a></td>
                          <td>Sample Name 8</td>
                          <td>28-7-2015</td>
                          <td>User</td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </div><!-- /.box-body -->
                </div>

            </section>
          </div>



 <div id="detailViewModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Details View</h4>
            </div>
            <div class="modal-body">

              <table class="table">
                <tbody>
                  <tr class="brdr-no">
                    <td><strong>Cost Center Code</strong></td>
                    <td>#589652</td>
                    <td><strong>Cost Center Name</strong></td>
                    <td>Sample Name</td>
                  </tr>
                  <tr>
                    <td><strong>Linked To</strong></td>
                    <td>589652</td>
                    <td><strong>Cost Center Type</strong></td>
                    <td>Consumer</td>
                  </tr>
                  <tr>
                    <td><strong>Credit</strong></td>
                    <td>INR 6000</td>
                    <td><strong>Debit</strong></td>
                    <td>INR 5000</td>
                  </tr>
                  <tr>
                    <td><strong>Current Balance</strong></td>
                    <td>INR 1000</td>
                    <td><strong>&nbsp;</strong></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="4"></td>
                    </tr>
                  <tr>
                    <td colspan="4" class="sml-title-modal"><h5>Primary Bank Acc Details</h5></td>
                  </tr>
                  <tr>
                    <td><strong>IFSC Code</strong></td>
                    <td>JP10203445</td>
                    <td><strong>Bank Name</strong></td>
                    <td>Axis Bank</td>
                  </tr>
                  <tr>
                    <td><strong>Bank Address:</strong></td>
                    <td colspan="3">Sample Address1</td>
                  </tr>
                  <tr>
                    <td colspan="4"></td>
                    </tr>
                  <tr>
                    <td colspan="4" class="sml-title-modal"><h5>Secondary Bank Acc Details</h5></td>
                  </tr>
                  <tr>
                    <td><strong>IFSC Code</strong></td>
                    <td>JP10203445</td>
                    <td><strong>Bank Name</strong></td>
                    <td>Axis Bank</td>
                  </tr>
                  <tr>
                    <td><strong>Bank Address:</strong></td>
                    <td colspan="3">Sample Address2</td>
                  </tr>
                </tbody>
              </table>
                
            </div>
            <div class="modal-footer clearfix">
                <a href="cost-center-edit.html" class="btn btn-primary">Edit Cost Center</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



          <footer class="main-footer">
            <div class="pull-right hidden-xs">
              All rights reserved
            </div>
            Copyright &copy; 2014-2015
          </footer>
        </div>

        <script src="../../static/js/library/jquery-2.1.4.min.js"></script>
        <script src="../../static/js/library/bootstrap.js"></script>
        <script src="../../static/js/library/moment.min.js"></script>
        <script src="../../static/js/library/daterangepicker.js"></script>
        <script src="../../static/js/library/jquery.slimscroll.min.js"></script>
        <script src="../../static/js/library/select2.full.min.js"></script>
        <script src="../../static/js/library/jquery.dataTables.min.js"></script>
        <script src="../../static/js/library/dataTables.bootstrap.min.js"></script>

        <script>
          $(function() {

            $("#table_sortable2").DataTable({ 
             "order": [],
             "columnDefs": [ {
              /*"targets"  :[0,-1],*/
              "orderable": false,
            }]

          }); 
          });    
        </script>
      </body>
      </html>