<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kerala Vision Subscriber Account Dashboard</title>
  <link rel="stylesheet" href="../../static/css/library/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/css/library/font-awesome.min.css">
  <link rel="stylesheet" href="../../static/css/library/ionicons.css">

  <link rel="stylesheet" href="../../static/css/library/daterangepicker-bs3.css">

  <link rel="stylesheet" href="../../static/css/library/AdminLTE.css">
  <link rel="stylesheet" href="../../static/css/library/skins/skin-blue.css">

  <link rel="stylesheet" href="../../static/css/custom/style.css">
  <!--[if lt IE 9]>
        <script src="../../static/js/library/html5shiv.js"></script>
        <script src="../../static/js/library/respond.js"></script>
    <![endif]-->
</head>
<body class="hold-transition fixed skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <a href="#" class="logo">
          <span class="logo-mini"><img src="../../static/images/kerala-vision-logo.png" alt=""></span>
          <span class="logo-lg"><img src="../../static/images/kerala-vision-logo.png" alt="">
            KERALA VISION
          </span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-danger">3</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 3 notifications</li>
                  <li>
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <div class="media">
                            <div class="media-left">
                              <i class="fa fa-comments text-yellow"></i>
                            </div>
                            <div class="media-body">
                              Very long description here that may not fit into the page and may cause design problems
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-yellow"></i> Request for plan change
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="hidden-xs">Rahul George</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="user-header">
                    <img src="../../static/images/dummyPlaceholder.jpg" class="img-circle" alt="User Image">
                    <p>
                      Rahul George
                      <small>FUP_20MBPS_100GB</small>
                    </p>
                  </li>
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="profile.html" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="login.html" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <a href="login.html"><i class="fa fa-power-off"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li>
              <a href="dashboard.html">
                <i class="fa fa-dashboard"></i><span>Dashboard</span>
              </a>
            </li>
            <li>
              <a href="account.html">
                <i class="fa fa-cogs"></i>
                <span>Account</span>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-credit-card"></i>
                <span>Billing</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="payment_history.html">Payment History</a></li>
                <li><a href="data_usage.html">Data Usage</a></li>
              </ul>
            </li>
            <li>
              <a href="profile.html">
                <i class="fa fa-user"></i>
                <span>Profile</span>
              </a>
            </li>
            <li class="active">
              <a href="support.html">
                <i class="fa fa-comments"></i>
                <span>Support</span>
              </a>
            </li>
            <li class="header">QUICK LINKS</li>
            <li><a href="data_usage.html"><i class="fa fa-chevron-circle-right text-yellow"></i><span>Data Usage</span></a></li>
          </ul>
        </section>
      </aside>

      <div class="content-wrapper finance accnt-balance">
        <section class="content-header">
          <h1>
            Support
          </h1>
          <ol class="breadcrumb">
                <li><a href="dashboard.html"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                <li class="active"><i class="fa fa-comments"></i> Support</li>
              </ol>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <div class="pull-left">
                    <h3 class="box-title">Issues Raised from Your User ID</h3>
                  </div>
                  <div class="pull-right">
                    <button type="button" class="btn bg-maroon btn-flat" data-toggle="modal" data-target="#new-issue" ><i class="fa fa-plus-square"></i> New Issue</button>


                  </div>
                </div>
                <div class="box-body">
                  <table id="crm-list" class="table table-bordered table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Ticket ID</th>
                        <th>Start Date</th>
                        <th>Issue</th>
                        
                        <th>Status</th>
                        <th>Close Date</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>4532KL1025</td>
                        <td>07 Sept 2015 10:12:45</td>
                        <td>No signal - modem indicates red</td>
                        
                        <td><span class="text-red">Open</span></td>
                        <td></td>
                        
                      </tr>
                      <tr>
                        <td>3256KL1032</td>
                        <td>01 Sept 2015 11:30:27</td>
                        <td>Cannot login - error displaying</td>
                        
                        <td><span class="text-green">Closed</span></td>
                        <td>02 Sept 2015 19:42:08</td>
                        
                      </tr>
                      <tr>
                        <td>4643KL8790</td>
                        <td>20 Aug 2015 20:12:39</td>
                        <td>Connection breaks frequently</td>
                        
                        <td><span class="text-green">Closed</span></td>
                        <td>22 Aug 2015 09:25:55</td>
                        
                      </tr>
                      <tr>
                        <td>4209KL5432</td>
                        <td>16 Aug 2015 11:36:33</td>
                        <td>Login error</td>
                        
                        <td><span class="text-green">Closed</span></td>
                        <td>17 Aug 2015 10:06:19</td>
                        
                      </tr>
                      <tr>
                        <td>4956KL0976</td>
                        <td>12 Aug 2015 16:14:32</td>
                        <td>Signal breaking</td>
                        
                        <td><span class="text-green">Closed</span></td>
                        <td>12 Aug 2015 20:10:12</td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          All rights reserved
        </div>
        Copyright &copy; 2014-2015
      </footer>
    </div>

    <!-- modal -->
    <div class="modal fade" id="new-issue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New Issue</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="control-label">Describe Your Trouble:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
        <button type="button" class="btn bg-maroon btn-flat" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
  
  <script src="../../static/js/library/jquery-2.1.4.min.js"></script>
  <script src="../../static/js/library/bootstrap.js"></script>

  <script src="../../static/js/library/moment.min.js"></script>
  <script src="../../static/js/library/daterangepicker.js"></script>

  <script src="../../static/js/library/jquery.slimscroll.min.js"></script>
  <script src="../../static/js/library/app.min.js"></script>
  <script src="../../static/js/custom/custom.js"></script>
  <script>
    $(function() {
      $('#disb-rpt-range').daterangepicker({
        autoApply: true,
        locale: {
          format: "DD/MM/YYYY"
        }
      });
      $('#fin-sts-rpt-range').daterangepicker({
        autoApply: true,
        locale: {
          format: "DD/MM/YYYY"
        }
      });
      $('#fin-sts-rpt-govt-subs-range').daterangepicker({
        autoApply: true,
        locale: {
          format: "DD/MM/YYYY"
        }
      });
    });
  </script>
</body>
</html>