<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kerala Vision LCO Invoice Details</title>
  <link rel="stylesheet" href="../../static/css/library/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/css/library/font-awesome.min.css">
  <link rel="stylesheet" href="../../static/css/library/ionicons.css">

  <link rel="stylesheet" href="../../static/css/library/daterangepicker-bs3.css">

  <link rel="stylesheet" href="../../static/css/library/AdminLTE.css">
  <link rel="stylesheet" href="../../static/css/library/skins/skin-blue.css">

  <link rel="stylesheet" href="../../static/css/library/dataTables.bootstrap.css">

  <link rel="stylesheet" href="../../static/css/custom/style.css">
  <!--[if lt IE 9]>
        <script src="../../static/js/library/html5shiv.js"></script>
        <script src="../../static/js/library/respond.js"></script>
    <![endif]-->
</head>
<body class="hold-transition fixed skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <a href="#" class="logo">
          <span class="logo-mini"><b>KV</b></span>
          <span class="logo-lg">Kerala<b>Vision</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-danger">3</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 3 notifications</li>
                  <li>
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <div class="media">
                            <div class="media-left">
                              <i class="fa fa-comments text-yellow"></i>
                            </div>
                            <div class="media-body">
                              Very long description here that may not fit into the page and may cause design problems
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-yellow"></i> Request for plan change
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="hidden-xs">Adithya Cable Vision</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="user-header">
                    <img src="../../static/images/dummyPlaceholder.jpg" class="img-circle" alt="User Image">
                    <p>
                      Adithya Cable Vision
                      <small>Cherthala</small>
                    </p>
                  </li>
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-power-off"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li>
              <a href="dashboard.html">
                <i class="fa fa-dashboard"></i><span>Dashboard</span>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-ticket"></i>
                <span>Subscriber Topup</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="subscriber_recharge.html">Subscriber Recharge</a></li>
                <li><a href="package_change.html">Package Change</a></li>
                <li><a href="addl_data_plan_fup.html">Addl. Data Plan for FUP</a></li>
              </ul>
            </li>
            <li class="treeview active">
              <a href="#">
                <i class="fa fa-credit-card"></i>
                <span>Finance</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="account_balance.html">Account Balance</a></li>
                <li><a href="finance_receipts.html">Receipts</a></li>
                <li><a href="#">Account Top-Up</a></li>
                <li class="active"><a href="anp_revenue.html">ANP Revenue</a></li>
                <li><a href="#">ANP Revenue-Govt Subs</a></li>
                <li><a href="#">AGP Revenue-Govt Subs</a></li>
              </ul>
            </li>
            <li>
              <a href="user_list.html">
                <i class="fa fa-globe"></i>
                <span>Users</span>
              </a>
            </li>
            <li>
              <a href="crm.html">
                <i class="fa fa-comments"></i>
                <span>CRM</span>
              </a>
            </li>
            <li class="header">IMPORTANT LINKS</li>
            <li><a href="submit_application.html"><i class="fa fa-chevron-circle-right text-yellow"></i><span>Submit Application</span></a></li>
            <li><a href="application_status.html"><i class="fa fa-chevron-circle-right text-aqua"></i><span>Application Status</span></a></li>
          </ul>
        </section>
      </aside>

      <div class="content-wrapper finance invoice-details">
        <section class="content-header">
          <div class="row">
            <div class="col-md-4">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Disbursement Report</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="form-group">
                    <label>Date Range</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control pull-right" id="disb-rpt-range" value="">
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <a href="#" class="btn btn-maroon btn-ziggy btn-flat"><i class="fa fa-upload"></i> Export</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Finance Status Report</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="form-group">
                    <label>Date Range</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control pull-right" id="fin-sts-rpt-range">
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <a href="#" class="btn btn-maroon btn-ziggy btn-flat"><i class="fa fa-upload"></i> Export</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Finance Status Report (Govt Subs Only)</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="form-group">
                    <label>Date Range</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control pull-right" id="fin-sts-rpt-govt-subs-range">
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <a href="#" class="btn btn-maroon btn-ziggy btn-flat"><i class="fa fa-upload"></i> Export</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="content-header">
          <h1>
            ANP Revenue
          </h1>
          <ol class="breadcrumb">
            <li class="active"><a href="#"><i class="fa fa-credit-card"></i>Finance</a></li>
            <li><a href="#">ANP Revenue</a></li>
            <li>Invoice Details</li>
          </ol>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-primary" id="addl-data-subscbr-dtls">
                <div class="box-header with-border">
                  <h3 class="box-title">Invoice Details of Sep 2015</h3>
                </div>
                <div class="box-body no-padding">
                  <table id="anp_revenue" class="table table-hover">
                    <tbody>
                      <tr>
                        <td>Total from all subscribers</td>
                        <td>6636.25</td>
                        <td><a href="#">View Details</a></td>
                      </tr>
                      <tr>
                        <td>Service Tax 12.36%</td>
                        <td>820.24</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Net Amount</td>
                        <td>5816.01</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>DOt 8%</td>
                        <td>530.9</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Aggregate Revenue</td>
                        <td>5285.11</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>IBNP 30%</td>
                        <td>1585.53</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>ANP 10%</td>
                        <td>528.51</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Incentive</td>
                        <td>N/A</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Total Net Revenue Share</td>
                        <td>2114.04</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Gross Revenue Sharing Including ST</td>
                        <td>2114.00</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Less TDS</td>
                        <td>211.4</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Net Revenue share receivable for Sept 2015</td>
                        <td>1902.60</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Net Revenue share received</td>
                        <td>1900</td>
                        <td><a href="#">View Details</a></td>
                      </tr>
                      <tr>
                        <td colspan="3">
                          We have verified the above values pertaining to Kerala Vision business. We certify that the income and expenditure mentioned above are correct. We acknowledge that we have received the above arrived revenue share.
                        </td>
                      </tr>
                      <tr>
                        <td>Service Tax No.</td>
                        <td>PAN No: KVCHJ4789B</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Approved by:</td>
                        <td>Designation:</td>
                        <td>Approved on: 16-10-2015 10:27:48</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          All rights reserved
        </div>
        Copyright &copy; 2014-2015
      </footer>
    </div>
  
  <script src="../../static/js/library/jquery-2.1.4.min.js"></script>
  <script src="../../static/js/library/bootstrap.js"></script>

  <script src="../../static/js/library/jquery.dataTables.min.js"></script>
  <script src="../../static/js/library/dataTables.bootstrap.min.js"></script>

  <script src="../../static/js/library/moment.min.js"></script>
  <script src="../../static/js/library/daterangepicker.js"></script>

  <script src="../../static/js/library/jquery.slimscroll.min.js"></script>

  <script src="../../static/js/library/app.min.js"></script>
  <script src="../../static/js/custom/custom.js"></script>
  <script>
    $(function() {
      $('#disb-rpt-range').daterangepicker({
        autoApply: true,
        locale: {
          format: "DD/MM/YYYY"
        }
      });
      $('#fin-sts-rpt-range').daterangepicker({
        autoApply: true,
        locale: {
          format: "DD/MM/YYYY"
        }
      });
      $('#fin-sts-rpt-govt-subs-range').daterangepicker({
        autoApply: true,
        locale: {
          format: "DD/MM/YYYY"
        }
      });
    });
  </script>
</body>
</html>