<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kerala Vision LCO Dashboard</title>
	<link rel="stylesheet" href="../../static/css/library/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/css/library/font-awesome.min.css">
	<link rel="stylesheet" href="../../static/css/library/ionicons.css">
	<link rel="stylesheet" href="../../static/css/library/AdminLTE.css">
	<link rel="stylesheet" href="../../static/css/library/skins/skin-blue.css">
  <link rel="stylesheet" href="../../static/css/library/daterangepicker-bs3.css">
  <link rel="stylesheet" href="../../static/css/library/iCheck-minimal.css">
  <link rel="stylesheet" href="../../static/css/library/iCheck-minimal-blue.css">
  <link rel="stylesheet" href="../../static/css/custom/style.css">
	<!--[if lt IE 9]>
        <script src="../../static/js/library/html5shiv.js"></script>
        <script src="../../static/js/library/respond.js"></script>
        <![endif]-->
      </head>
      <body class="hold-transition fixed skin-blue sidebar-mini">
        <div class="wrapper">

      <header class="main-header">
        <a href="#" class="logo">
          <span class="logo-mini"><b>KV</b></span>
          <span class="logo-lg">Kerala<b>Vision</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-danger">3</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 3 notifications</li>
                  <li>
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <div class="media">
                            <div class="media-left">
                              <i class="fa fa-comments text-yellow"></i>
                            </div>
                            <div class="media-body">
                              Very long description here that may not fit into the page and may cause design problems
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-yellow"></i> Request for plan change
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="hidden-xs">Adithya Cable Vision</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="user-header">
                    <img src="../../static/images/dummyPlaceholder.jpg" class="img-circle" alt="User Image">
                    <p>
                      Adithya Cable Vision
                      <small>Cherthala</small>
                    </p>
                  </li>
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-power-off"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
          <!-- Left side column. contains the logo and sidebar -->
          <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
              <!-- sidebar menu: : style can be found in sidebar.less -->
              <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                  <a href="#">
                    <i class="fa fa-dashboard"></i><span>Dashboard</span>
                  </a>
                </li>
                <li class="treeview">
                  <a href="#">
                    <i class="fa fa-ticket"></i>
                    <span>Subscriber Topup</span>
                    <i class="fa fa-angle-right pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#">Subscriber Recharge</a></li>
                    <li><a href="#">Package Change</a></li>
                    <li><a href="#">Addl. Data Plan for FUP</a></li>
                  </ul>
                </li>
                <li class="treeview">
                  <a href="#">
                    <i class="fa fa-credit-card"></i>
                    <span>Finance</span>
                    <i class="fa fa-angle-right pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#">Account Balance</a></li>
                    <li><a href="#">Receipts</a></li>
                    <li><a href="#">Account Top-Up</a></li>
                    <li><a href="#">ANP Revenue</a></li>
                    <li><a href="#">ANP Revenue-Govt Subs</a></li>
                    <li><a href="#">AGP Revenue-Govt Subs</a></li>
                  </ul>
                </li>
                <li class="treeview">
                  <a href="#">
                    <i class="fa fa-clipboard"></i>
                    <span>Reports</span>
                    <i class="fa fa-angle-right pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#">Subscribers</a></li>
                  </ul>
                </li>
                <li class="header">IMPORTANT LINKS</li>
                <li class="active"><a href="submit_application.html"><i class="fa fa-chevron-circle-right text-yellow"></i><span>Submit Application</span></a></li>
                <li><a href="#"><i class="fa fa-chevron-circle-right text-aqua"></i><span>Application Status</span></a></li>
              </ul>
            </section>
            <!-- /.sidebar -->
          </aside>

          <div class="content-wrapper submit-application">
            <section class="content-header">
              <h1>
                Dashboard
                <small>Control panel</small>
              </h1>
              <ol class="breadcrumb">
                <li><a href="dashboard.html"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                <li class="active">Submit Application</li>
              </ol>
            </section>

            <section class="content">
              <div class="row">
                <div class="col-md-12">
                 <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Subscriber Information</h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                  </div><!-- /.box-header -->
                  <!-- form start -->

                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Application No:</label>
                          <input class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>First Name:</label>
                          <input class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Middle Name:</label>
                          <input class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Last Name:</label>
                          <input class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Email:</label>
                          <input class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Date of Birth:</label>
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="dateofBirth">
                          </div><!-- /.input group -->
                        </div><!-- /.form group -->
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Mobile Phone:</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Street:</label>
                          <input class="form-control">
                        </div>
                      </div>

                      
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Address:</label>
                          <textarea class="form-control" rows="3"></textarea>
                        </div>
                      </div>
                      <div class="col-md-4">
                       <div class="form-group">
                        <label>Copy of Application Form</label>

                        <input type="file">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Copy of Address Proof</label>
                        <input type="file">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Copy of ID Proof</label>
                        <input type="file">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label class="text-muted custom_wrng">
                        <i class="fa fa-bell-o"></i> Uploading file should be less than or equal to 900KB in size. Valid file formats are .pdf, jpg, .png</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="box box-default">
                  <div class="box-header">
                    <h3 class="box-title">RES<small class="text-red">KYS should contain valid Railway Railtel Employee ID Proof Copy</small></h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="table-responsive">
                      <table class="table no-margin">
                        <thead>
                          <tr>
                            <th>Speed</th>
                            <th>Monthly Rental[INR]</th>
                            <th>Remarks</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><label class="text-normal"><input type="radio" name="r1" class="minimal" > 1 Mbps</label></td>
                            <td>449/-*</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><label class="text-normal"><input type="radio" name="r1" class="minimal" > 2 Mbps</label></td></label></td>
                            <td>449/-*</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><label class="text-normal"><input type="radio" name="r1" class="minimal" > 3 Mbps</label></td>
                            <td>449/-*</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div><!-- /.table-responsive -->
                  </div><!-- /.box-body -->
                </div>

                <div class="box box-default">
                  <div class="box-header">
                    <h3 class="box-title">SME</h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="table-responsive">
                      <table class="table no-margin">
                        <thead>
                          <tr>
                            <th>Speed</th>
                            <th>Monthly Rental[INR]</th>
                            <th>Remarks</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><label class="text-normal"><input type="radio" name="r2" class="minimal" > 1 Mbps</label></td>
                            <td>1,699/-*</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><label class="text-normal"><input type="radio" name="r2" class="minimal" > 2 Mbps</label></td>
                            <td>2,999/-*</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><label class="text-normal"><input type="radio" name="r2" class="minimal" > 4 Mbps</label></td>
                            <td>5,799/-*</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><label class="text-normal"><input type="radio" name="r2" class="minimal" > 8 Mbps</label></td>
                            <td>9,999/-*</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><label class="text-normal"><input type="radio" name="r2" class="minimal" > 10 Mbps</label></td>
                            <td>12,999/-*</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div><!-- /.table-responsive -->
                  </div><!-- /.box-body -->
                  <!-- /.box-body -->
                </div>
                <div class="box box-default">
                  <div class="box-header">
                    <h3 class="box-title">Remarks</h3>
                  </div>
                  <div class="box-body">
                    <textarea class="form-control" rows="3"></textarea>
                  </div>
                  <div class="box-footer">
                    <div class="row">
                      <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </div><!-- /.box-footer -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    All rights reserved
  </div>
  Copyright &copy; 2014-2015
</footer>
</div>

<script src="../../static/js/library/jquery-2.1.4.min.js"></script>
<script src="../../static/js/library/bootstrap.js"></script>

<script src="../../static/js/library/moment.min.js"></script>
<script src="../../static/js/library/daterangepicker.js"></script>
<script src="../../static/js/library/icheck.min.js"></script>
<script src="../../static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="../../static/js/library/app.min.js"></script>

<script>
  $(function () {

    $('#dateofBirth').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true
    }); 

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });

  })
  
</script>
</body>
</html>